http://www.usu.edu/webcam/usucam.jpg
/home/paul/pics/friends.png
http://webcam.its.hawaii.edu/uhmwebcam/image01.jpg
/home/paul/pics/playing.png
http://lumahai.soest.hawaii.edu/satellite/ui4/200105171900.ui4.usw.thumb.jpg
/home/paul/pics/v.png
