Source: gkrellkam
Section: x11
Priority: optional
Maintainer: paul cannon <pik@debian.org>
Build-Depends: debhelper (>= 9), gkrellm (>= 2.0.0), libgtk2.0-dev, libglib2.0-dev
Standards-Version: 3.9.5

Package: gkrellkam
Architecture: any
Depends: gkrellm (>= 2.0.0), ${shlibs:Depends}, ${misc:Depends}
Recommends: wget
Description: GKrellM plugin that displays a periodically updating image
 GKrellKam is basically wmGrabImage in a GKrellM panel, except that it
 is more flexible (you can specify a local or remote image, or a list of
 local or remote images, or a script that outputs the right image, etc).
 The image (any format or size) is resized to a thumbnail and placed in
 a GKrellM panel, where it is updated periodically. Multiple images are
 rotated.
 .
 This plugin is useful for keeping track of webcams, weather maps, or
 any other kind of changing image information.
